.movieApp{
    background-color: black;
     height: 170vh;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: ; */
    
 
}

.box .img-load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto 150%;
    margin-top: 13%;
    
}

.img-load img{
    width: 80px;
    animation: App-logo-spin infinite 2s linear;
   

}
@keyframes App-logo-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
   
.error-msg{
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
    margin: auto 27%;
    margin-top: 10%;
    color: #ffffff;
}

.movie-details{

    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    width: 85%;
    padding: 15px;
   
}

li{
    
    background-color: rgba(73,66,66,0.5);
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px 0px;
    color: #ffffff;
    
    
}

li:hover{
    /* cursor: pointer; */
    box-shadow:rgb(32, 152, 209) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px 0px;
}
li .date{
color: rgb(145, 140, 140);
}

li a{
    color:yellow;
    text-decoration: none;
}
li hr{
    border-color: rgb(189, 36, 36);
}