.movieApp{
    background-color: black;
     height: 130vh;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: ; */
    
 
}

.box .img-load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto 150%;
    margin-top: 13%;
    
}

.img-load img{
    width: 80px;
    animation: App-logo-spin infinite 2s linear;
   

}
@keyframes App-logo-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
   
.error-msg{
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
    margin: auto 27%;
    margin-top: 10%;
    color: #ffffff;
}

.movie-details{

    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    width: 80%;
    padding: 5px;
    line-height: 1.2;
   
}



li{
    
    /* background-color: rgba(73,66,66,0.5); */
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px 0px;
    color: #ffffff;
    
    
}

li:nth-child(1){
    background-image: url(../Images/bg-card-1.0c96fd00.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
li:nth-child(2){
    background-image: url(../Images/bg-card-2.b0a7b209.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
li:nth-child(3){
    background-image: url(../Images/bg-card-3.1914d853.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
li:nth-child(4){
    background-image: url(../Images/bg-card-4.c21c4d4b.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
li:nth-child(5){
    background-image: url(../Images/bg-card-5.67d061d6.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
li:nth-child(6){
    background-image: url(../Images/bg-card-6.b4fea25d.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

li:hover{
    box-shadow:rgb(32, 152, 209) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px 0px;
}
li .date{
color: rgb(145, 140, 140);
padding-top: 0;
}

li a{
    color:yellow;
    text-decoration: none;
}
li hr{
    border-color: rgb(189, 36, 36);
}